- if not @photo
  %h2
    It would appear that I haven't started taking one photo every day just yet. Hopefully I will soon though! ^_^
- else
  %a{ :href => @photo_link, :title => @photo.title, :target => '_blank' }
    %img{ :class => 'main', :src => @photo_url, :alt => @photo.title }

  %p{ :class => 'phototitle' }
    %a{ :href => @photo_link, :title => @photo.title, :target => '_blank' }
      =@photo.title

  %p{ :class => 'description' }
    =@description.gsub("\n", '<br />')

  %h2{ :class => 'pink-bottom-border' }
    ="taken on #{@date_taken}"

  - @other_thumbnails.each do |title, img_src_s, photo_url|
    %a{ :href => photo_url, :title => title }
      %img{ :src => img_src_s, :alt => title, :width => '75', :height => '75', :class => 'thumb' }
