%h1 one photo every day

%a{ :href => @photo_link, :title => @photo.title }
  %img{ :class => 'main', :src => @photo_url, :alt => @photo.title }

%h2= "taken on #{@date_taken}"

%p{ :class => 'description' }
  =@description.gsub("\n", '<br />')

- @other_thumbnails.each do |title, image_href, photo_url|
  %a{ :href => photo_url, :title => title }
    %img{ :src => image_href, :alt => title }