%a{ :href => @photo_link, :title => @photo.title, :target => '_blank' }
  %img{ :class => 'main', :src => @photo_url, :alt => @photo.title }

%p{ :class => 'phototitle' }
  = @photo.title

%p{ :class => 'description' }
  =@description.gsub("\n", '<br />')

%h2= "taken on #{@date_taken}"

- @other_thumbnails.each do |title, image_href, photo_url|
  %a{ :href => photo_url, :title => title }
    %img{ :src => image_href, :alt => title }