!!! 5
%html{html_attrs('en-AU')}
  %head
    %title one photo every day
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
  %body
    .container
      %a{ :href => '/', :title => 'dass and james take one photo every single day' }
        %h1{ :class => 'pink-bottom-border' }
          one photo every day
      = yield