!!! 5
%html{html_attrs('en-AU')}
  %head
    %title="one photo every day"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css?v=20110821' }
    = partial :google_analytics
  %body
    .container
      %div{ :id => 'about', :class => 'pink-bottom-border' }
        ="On the 25th of September 2010, <a href=\"http://jdenn.es/\" target=\"_blank\">James</a> decided to start taking "
        ="<a href=\"/\">one photo every day</a>."
        - if @photo_count
          ="So far, he's taken "
          %a{ :href => "http://www.flickr.com/photos/jdennes/sets/72157625078364543/", :target => "_blank" }=@photo_count
          ="photos."
      = yield
