!!! 5
%html{html_attrs('en-AU')}
  %head
    %title="one photo every day"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css?v=20110405' }
    -if production?
      = partial :google_analytics
  %body{ :style => "background: url(\"#{@bg}\") repeat scroll 0 0 transparent" }
    .container
      %a{ :href => '/', :title => 'a thing where james takes one photo every single day' }
        %h1{ :class => 'pink-bottom-border' }
          ="one photo every day"
      = yield
      %div{ :id => 'footer' }
        ="This little thing is constructed by"
        %a{ :href => "http://jdenn.es/", :target => "_blank" }
          ="james"
        ="taking one photo every day. There's a"
        %a{ :href => "/feed" }
          ="feed"
        ="too, if you're into that."