!!! 5
%html{html_attrs('en-AU')}
  %head
    %title one photo every day
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css?v=20110205' }
  %body{ :style => "background: url(\"#{@bg}\") repeat scroll 0 0 transparent" }
    .container
      %a{ :href => '/', :title => 'a thing where james takes one photo every single day' }
        %h1{ :class => 'pink-bottom-border' }
          ="one photo every day"
      = yield
      %div{ :id => 'footer' }
        ="This little thing is constructed by"
        %a{ :href => "http://www.flickr.com/photos/jdennes", :target => "_blank" }
          ="james"
        ="taking one photo every day. You can "
        %a{ :href => "/feed" }
          feed
        ="or see"
        %a{ :href => "/?showmissing=true"}
          missing photos
        ="..."

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10651397-3']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
